body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, sans-serif;
	background: radial-gradient(circle at top, #1a1a1a, #000);
	color: #fff;
	text-align: center;
	font-weight: 300;
}

input,
button {
	font-family: inherit;
	font-size: 1rem;
	text-align: center;
	border: none;
	outline: none;
	margin: 0.875rem;
	padding: 0.25rem 1rem;
}

footer {
	margin-top: 3rem;
}
#header {
	padding: 2rem 1.25rem 0;
	text-align: right;
}

#container {
	max-width: 30rem;
	margin: 0 auto;
	padding: 1rem 1.25rem 1.25rem;
}

.logo img {
	max-width: 10rem;
	height: auto;
	margin: -1rem auto -1.5rem;
}

#qrcanvas canvas {
	max-width: 15rem;
	height: auto;
	margin: 2rem;
	object-fit: contain;
}

#title {
	font-size: 2.4rem;
	font-weight: 700;
	letter-spacing: 0.125rem;
	margin-bottom: 0.625rem;
}

#subtitle {
	font-size: 1.6rem;
	font-weight: 500;
	color: #aaa;
	margin-bottom: 1rem;
}

#tagline {
	font-size: 1rem;
	color: #aaa;
}

.section-title {
	margin: 1.875rem 0 0.625rem;
	font-size: 0.875rem;
	color: #888;
	letter-spacing: 0.0625rem;
}

.block {
	display: block;
	padding: 1rem;
	border-radius: 0.875rem;
	background: linear-gradient(135deg, #111, #1f1f1f);
}

.link {
	text-decoration: none;
	color: #fff;
	border: 1px solid #2a2a2a;
	margin: 0.75rem 0;

	transition: all 0.2s ease;
	cursor: pointer;
}

.link:hover {
	transform: scale(1.03);
	background: linear-gradient(135deg, #1a1a1a, #2a2a2a);
}

#events .link {
	text-align: left;
	padding: 0.875rem;
	border-radius: 0.75rem;
	background: #111;
}

#socials .link:hover {
	border-color: #444;
	box-shadow: 0 0 0.9375rem #00ffff;
}

#ticket-link {
	margin: 1.25rem auto;
}

#ticket-link:hover {
	border-color: #444;
	box-shadow: 0 0 0.9375rem #bb00ff;
}

.event-item {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.event-title {
	font-weight: bold;
}

.event-meta {
	margin-top: 0.25rem;
	font-size: 0.75rem;
	color: #aaa;
}

.message {
	font-size: 1.5rem;
	font-weight: 400;
	display: block;
	padding: 1rem;
	margin: 0.75rem 0;
	border-radius: 0.875rem;
	background: #111;
	border: 1px solid #aa0000;
	transition: all 0.2s ease;
}

.accent {
	height: 0.25rem;
	width: 5rem;
	margin: 1.25rem auto;
	border-radius: 0.625rem;
	background: linear-gradient(90deg, #00ffcc, #7a00ff);
	box-shadow: 0 0 0.625rem #00ffcc;
}

#disclaimer {
	margin-top: 1.25rem;
	font-size: 0.75rem;
	color: #666;
}

.hidden {
	display: none;
}
