body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, sans-serif;
	background: radial-gradient(farthest-corner at top, #1a1a1a 10%, #000 100%);
	color: #fff;
	text-align: center;
	font-weight: 300;
}

input,
button {
	text-align: center;
	font-family: inherit;
	font-size: 1rem;
	padding: 0.25rem 1rem;
}

a {
	text-decoration: none;
	color: inherit;
}

#qrinput * {
	border: none;
	outline: none;
	margin: 0.875rem;
}

footer {
	position: relative;
	width: 30rem;
	bottom: 0.5rem;
	margin-top: 2rem;
}

#header {
	padding: 1rem 1.25rem 0;
	text-align: right;
}

#container {
	min-height: 100vh;
	height: max-content;
	max-width: 30rem;
	margin: 0 auto;
	padding: 1rem 1.25rem 1.25rem;
}

.logo img {
	max-width: 10rem;
	height: auto;
	margin: -1rem auto -1.5rem;
}

#qrcanvas canvas {
	max-width: 15rem;
	height: auto;
	margin: 2rem;
	object-fit: contain;
}

#title {
	font-size: 2.4rem;
	font-weight: 700;
	letter-spacing: 0.125rem;
	margin-bottom: 0.625rem;
}

#subtitle {
	font-size: 1.6rem;
	font-weight: 500;
	color: #aaa;
	margin-bottom: 1rem;
}

#tagline {
	font-size: 1rem;
	color: #aaa;
}

.section-title {
	margin: 1.875rem 0 0.625rem;
	font-size: 0.875rem;
	color: #888;
	letter-spacing: 0.0625rem;
}

.block {
	display: block;
	padding: 1rem;
	border-radius: 0.875rem;
	background: linear-gradient(135deg, #111, #1f1f1f);
}

.link {
	text-decoration: none;
	color: #fff;
	border: 1px solid #2a2a2a;
	margin: 0.75rem 0;
	transition: all 0.2s ease;
	cursor: pointer;
}

.link:hover,
.link:focus {
	transform: scale(1.03);
	background: linear-gradient(135deg, #1a1a1a, #2a2a2a);
}

.button {
	font-size: 0.8rem;
	width: 5rem;
	margin-left: 0.5rem;
}

#events .link {
	padding: 0.875rem;
	border-radius: 0.75rem;
	background: #111;
}

#socials .link:hover,
#socials .link:focus {
	border-color: #444;
	box-shadow: 0 0 0.9375rem #00ffff;
}

#ticket-link {
	margin: 1.25rem auto;
}

#ticket-link:hover,
#ticket-link:focus {
	border-color: #444;
	box-shadow: 0 0 0.9375rem #bb00ff;
}

.event-item {
	display: flex;
	align-items: center;
	width: 100%;
	justify-content: space-between;
}

.event-title {
	font-weight: bold;
}

.event-meta {
	margin-top: 0.25rem;
	font-size: 0.75rem;
	color: #aaa;
}

.message {
	font-size: 1.5rem;
	font-weight: 400;
	display: block;
	padding: 1rem;
	margin: 0.75rem 0;
	border-radius: 0.875rem;
	background: #111;
	border: 1px solid #aa0000;
	transition: all 0.2s ease;
}

.accent {
	height: 0.25rem;
	width: 5rem;
	margin: 1.25rem auto;
	border-radius: 0.625rem;
	background: linear-gradient(90deg, #00ffcc, #7a00ff);
	box-shadow: 0 0 0.625rem #00ffcc;
}

#disclaimer {
	margin-top: 1.25rem;
	font-size: 0.75rem;
	color: #666;
}

.hidden {
	display: none;
}

.dropdown {
	width: auto;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
	display: none;
	position: absolute;
	margin: -2.5rem 0 0 1rem;
	border: 1px solid #3a3a3a;
	border-radius: 0.875rem;
	min-width: 10rem;
	box-shadow: 4px 6px 6px 0px #fafafa11;
	z-index: 1;
	overflow: hidden;
}

/* Links inside the dropdown */
.dropdown-content a {
	display: block;

	background-color: #181818;
	font-size: 0.8rem;
	padding: 12px 16px;
	text-decoration: none;
	cursor: pointer;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover,
.dropdown-content a:focus {
	background-color: #161616;
}

/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 100px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0, 0, 0); /* Fallback color */
	background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
	position: relative;
	background-color: #fefefe;
	margin: auto;
	padding: 0;
	border: 1px solid #888;
	width: 80%;
	box-shadow:
		0 4px 8px 0 rgba(0, 0, 0, 0.2),
		0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-webkit-animation-name: animatetop;
	-webkit-animation-duration: 0.4s;
	animation-name: animatetop;
	animation-duration: 0.4s;
}

/* Add Animation */
@-webkit-keyframes animatetop {
	from {
		top: -300px;
		opacity: 0;
	}
	to {
		top: 0;
		opacity: 1;
	}
}

@keyframes animatetop {
	from {
		top: -300px;
		opacity: 0;
	}
	to {
		top: 0;
		opacity: 1;
	}
}

/* The Close Button */
.close {
	color: white;
	float: right;
	font-size: 2rem;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

.modal-header {
	padding: 2px 16px;
	background-color: #5cb85c;
	color: white;
}

.modal-body {
	padding: 2px 16px;
	color: black;
}

.modal-footer {
	padding: 2px 16px;
	background-color: #5cb85c;
	color: white;
}

/* Show the dropdown menu or modal */
.open {
	display: block;
}
